{# templates/fruits/fruits_list.html #}
{% extends 'base.html' %}

{% block content %}
    <div>果物マスタ管理</div>
    <div>
        <a href="{% url 'home' %}">TOP</a>＞果物マスタ管理
    </div>
    <div>
        <li>名称 | 単価 | 最終更新</li>
        {% for fruit in object_list %}
            <li>
                {{ fruit.name }}
                | {{ fruit.price}}
                | {{ fruit.updated_at|date }}
                | <a href="{% url 'fruit_edit' fruit.pk %}">編集</a>
                <!-- | <a href="{% url 'fruit_delete' fruit.pk %}">削除</a> -->
                | <form method="POST" action="{% url 'fruit_delete' fruit.pk %}">{% csrf_token %}
                    <input type="submit" value="削除">
                </form>
            </li>
        {% endfor %}
    </div>
    <div>
        <form method="GET" action="{% url 'fruit_new' %}">
            <input type="submit" value="新規追加">
        </form>
    </div>
{% endblock content %}